In [4]:
import numpy as np
import pandas as pd
from natsort import index_natsorted

In [1]:
demo = pd.DataFrame({
    'index': range(10),
    'value': np.random.rand(10)
})
demo['value'] = demo['value'].map(lambda x: f'{round(x*100, 2)}%')
demo

   index   value
0      0  18.67%
1      1   31.5%
2      2   3.25%
3      3  77.02%
4      4  49.33%
5      5  29.28%
6      6  50.33%
7      7  94.57%
8      8  84.02%
9      9  61.07%

In [2]:
demo.sort_values('value')

   index   value
0      0  18.67%
5      5  29.28%
2      2   3.25%
1      1   31.5%
4      4  49.33%
6      6  50.33%
9      9  61.07%
3      3  77.02%
8      8  84.02%
7      7  94.57%

In [8]:
index_natsorted(demo['value'])

[2, 0, 5, 1, 4, 6, 9, 3, 8, 7]

In [9]:
np.argsort(index_natsorted(demo['value']))

array([1, 3, 0, 7, 4, 2, 5, 9, 8, 6], dtype=int64)

In [10]:
demo.sort_values('value', key=lambda by: np.argsort(index_natsorted(by)))

   index   value
2      2   3.25%
0      0  18.67%
5      5  29.28%
1      1   31.5%
4      4  49.33%
6      6  50.33%
9      9  61.07%
3      3  77.02%
8      8  84.02%
7      7  94.57%